<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059473545594-orgc8t7nie7892a57eg4mpv8emfgd73e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059473545594-orgc8t7nie7892a57eg4mpv8emfgd73e</string>
	<key>API_KEY</key>
	<string>AIzaSyCBSVvq_ZzEwIQuPppQORS1ezpvRKLqT1g</string>
	<key>GCM_SENDER_ID</key>
	<string>1059473545594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andrew.ChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatapptutorial-afede</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptutorial-afede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059473545594:ios:87e3aaf696c473a10c5ec3</string>
</dict>
</plist>